# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Virtual env
.venv/
venv/
ENV/
env/

# Django
db.sqlite3
*.log
local_settings.py

# Secrets
.env
.env.*
*.pem
*.key

# Static / media (prod build artifacts)
staticfiles/
media/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Optional: Tailwind / Node
node_modules/
